* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color:black;
}
.navbar {
    height: 100px;
    width: 100%;
    background-color: #454748;
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    color: white;
}
 
.navbar h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#1ba1c6;
    color: #454748;
    padding: 5px 5px;
    margin: 0;
    width: 300px;
    text-align: right;
    flex-wrap: wrap;
   
}

.nav  {
    flex-wrap: wrap;
    display:inline-flex;
    font-family: verdana, sans-serif;
    font-size: 30px;
    list-style: none;
    word-spacing: 5px;
}

.nav a {
    flex-wrap: wrap;
    border-bottom:#1ba1c6 ;
    color: #1ba1c6;
    padding: 15px 15px;
    text-underline-offset: 10px;
    text-align:center;
    
}

.header {
    position: relative;
    padding: 20px 20px;
    border: 2px solid #1ba1c6;
    background-image: url("images/seattle-rooftop.jpg");
    background-size:cover;
    background-position: center;
    background-position-x: 10px;
    background-position-y: -600px;
    background-attachment:fixed;
    background-repeat: none;
    height: 400px;
    flex-wrap: wrap;

}

.header h2{
    display:flex;
    position: absolute;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 50px;
    color: #1ba1c6;
    background-color: #454748;
    border: 1px;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0;
    float: right;
    justify-content: flex-end;
    bottom: 10px;
    right: 50px;
    
}

.about-grid {
    display:flex;
}

.about-grid h2 {
    position:relative;
    color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    right: 1250px;
    float:right;
    flex: wrap;
    
}
#pic {
    height:25%;
    width: 25%;
    padding: 5px 10px;
}

#thumbnail {
    background-size:cover;
}



.portfolio-grid {
   display:flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 15px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 50px;
}

.portfolio-grid-item {
    flex-grow:1;
    background: #454748;
    width: calc(50% -5px);
    padding: 10px;
}

.hero-item{
    width:100%;
}