* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    background-color:black;
}
.navbar {
    height: 100px;
    width: 100%;
    background-color: #454748;
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    color: white;
}
 
.navbar h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#1ba1c6;
    color: #454748;
    padding: 5px 5px;
    margin: 0;
    width: 300px;
    text-align: right;
    flex-wrap: wrap;
   
}

.nav  {
    flex-wrap: wrap;
    display:inline-flex;
    font-family: verdana, sans-serif;
    font-size: 30px;
    list-style: none;
    word-spacing: 5px;
}

.nav a {
    flex-wrap: wrap;
    border-bottom:#1ba1c6 ;
    color: #1ba1c6;
    padding: 15px 15px;
    text-underline-offset: 10px;
    text-align:center;
    
}

.header {
    position: relative;
    padding: 20px 20px;
    border: 2px solid #1ba1c6;
    background-image: url("images/seattle-rooftop.jpg");
    background-size:cover;
    background-position: center;
    background-position-x: 10px;
    background-position-y: -600px;
    background-attachment:fixed;
    background-repeat: none;
    height: 400px;
    display:flex;
    flex-wrap: wrap;

}

.header h2{
    display:flex;
    position: absolute;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 50px;
    color: #1ba1c6;
    background-color: #454748;
    border: 1px;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0;
    float: right;
    bottom: 10px;
    right: 50px;
    
}

.about-grid {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:100%;
    
}

.about-grid h2 {
    position:relative;
    color:azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    display:inline-block;
    text-decoration: underline;
    text-underline-position: right;
    
    
    
    
}
/*
.vl {
    border-left:6px solid #1ba1c6;
    height:400px;
    position:absolute;
    left:35%;
    margin-left: -3px;
    top:525px;
    display:flex;
} */
.content {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: white;
    position:relative;
    padding: 10px 10px;
    text-align: center;
    display:inline-flex;
    float:right;
    justify-content:space-between;
    width:50%;

    height:auto;
}
#pic {
    display:flex;
    height:300px;
    width: auto;
    float:left;
}



.portfolio-grid {
   display:flex; 
   flex-wrap: wrap;
   justify-content: space-between;
   width: 65%;
   height:auto;
   padding: 10px 10px;
   float:right;
   gap:10px;
     
}


.sidebar {

    display: flex;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
    font-size: 50px;
    position: absolute;
    float:left;
    width:30%;
    left:350px;

}


.portfolio-grid-item {
    flex-grow:0;
    border: 5px solid #454748;
    width: calc(50% - 5px);
    float:right;
   
    
}
.hero-item {
    width:100%;
    object-fit:cover;
    flex-wrap: wrap;
    
}

.portfolio-grid-item h3 {
    display:flex;
    position: relative;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-size: 25px;
    color: #1ba1c6;
    background-color: #454748;
    border: 1px;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0;
    float: right;
    bottom: 50px;
    right: 10px;
    
    
}


#thumbnail {
    display:flex;
    flex-wrap: flex;
    object-fit: cover; 
    width:100%;
    height:100%; 
    
} 

.blur img{
    transition: 1s ease;
    }
    
    .blur img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
    }

.footer {

    height: 100px;
    width: 100%;
    background-color: #454748;
    padding: 20px 0px;
    display:flex;
    justify-content: space-between;
    color: white;
    word-spacing: 10px;
}


.footer li {
   
    flex-wrap: wrap;
    display:inline-flex;
    font-family: verdana, sans-serif;
    font-size: 25px;
    list-style: none;
    word-spacing: 10px;
}
@media screen and (max-width: 1400px){
    .header{
        background-image: url("images/Fall.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: none;
        position:relative;
        background-position-x: -500px ;
        background-position-y: -1000px;
        
        } 
        .navbar, .nav, .about-grid,
        .content, .portfolio-grid, .portfolio-grid-item, .sidebar, .footer {
        flex-direction: column;
        padding: 2px 2px;
        width:100%;
        height:auto;
        display:flex;
        float:none;
        align-items: center;
        
      }
      img {
        width:100%;
      }
      #pic {
        width:100%;
        height:auto;
      }
      #thumbnail {
        width:100%;
        height:auto;
        justify-content: center;
        object-fit: cover;
      }
    }
@media screen and (max-width: 768px) {
    .header {
        background-image: url("images/PurpleBackground.jpg");
        background-size: cover;
        flex-direction: column;
        position:relative;
        width:100%;
        height:200px;
        
        
    }
    .navbar, .nav, .about-grid,
    .content, .portfolio-grid, .portfolio-grid-item, .sidebar, .footer {
    flex-direction: column;
    padding: 2px 2px;
    width:100%;
    height:auto;
    display:flex;
    float:none;
    align-items: center;
    
  }
  img {
    width:100%;
  }
  #pic {
    width:100%;
    height:auto;
  }
  #thumbnail {
    width:100%;
    height:auto;
    justify-content: center;
    object-fit: cover;
  }
}